*{
    padding: 0%;
    margin: 0%;
}
nav{
    min-height: 50px;
    height: 100%;
    width: 100%;
    background-color: rgb(79, 42, 165);
    display: flex;
    align-items: center;

}
.nav-link{
    position: absolute;
    top: 2px;
    right: 0%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}


.nav-link li{
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    padding: 15px;
    position: relative;
}
nav li a{
    text-decoration: none;
    font-size: large;
    color: white;
}
.nav-link li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
    border-radius: 2px;
}
.nav-link li:hover::after{
    width: 100%;
}
.middle{
    width: fit-content;
    background-color:transparent;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50% -50%);
    text-align: center;
    

}
.middle h1{
   
    width:90%;
    height: 50px;
    color: white;
    padding: 20px;
    font-size: 50px;
}
.middle p{
    font-size: medium;
    color: white;
    padding: 10px;
    font-size: 20px;
}
#button {
    display:inline-block;
    padding: 12px 34px;
    text-decoration: none;
    color: white;
    border: 2px solid blue;
    margin: auto;
    background: transparent;
    position: relative;
    
}
#button:hover{
    background:blue;
    border: 2px solid blue;
    transition: 1s;
}
